
    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #ccc;
       

      }
      th,td{
        border: 1px solid #ccc;
        padding: 5px;
        color:white
        
      }

    textarea{
      width: 90%;
      background-color: transparent;
      border: 1px solid white;
      color:white;
      font-size: 15px;

    }
